body {
  margin: 0;
}

/* CSS for configuration page */
.body-config {
  margin: 50px 50px 50px 50px;
  font-family: Tahoma, Verdana, sans-serif;
}

.header-container {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.metric-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.trans-button {
  background: transparent;
  border: none;
  outline: none;
  margin: 0 0 0 10px;
}

button:hover {
  cursor: pointer;
}

.metric-container > * {
  flex-basis: calc(20%); /* Only allow 5 metric per row */
}

.background::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #f6ea41, #bb5dff);
  opacity: 0.7;
  z-index: 1; 
}

.background > * {
  position: relative; 
  z-index: 2; 
}