body {
  margin: 0;
}

.body-config {
  margin: 50px 50px 50px 50px;
  font-family: Tahoma, Verdana, sans-serif;
}

.metric-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* Only allow 5 metric per row */
.metric-container > * {
  flex-basis: calc(20%);
}