.page-container {
    margin-left: 90px;
    margin-top: 10px;
    z-index: 1;
  }

.metricGraph{
  background-color: white;
  margin-top: 10px;
  border: 0px solid;
  width: fit-content;
  padding: 40px;
  border-radius: 10px;
}
  
  .page-config-container{
    display: flex;
  }
  .select-container {
    margin-bottom: 10px;
    height: 100px;
    width: 80%;
  }
  
  .select-container select {
    z-index: 2;
    width: 97%;
    height: 50px;
    appearance: none;
    border-radius: 10px;
    border-color: black;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    background-color: rgb(174, 173, 173);
    font-size: 23px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 8l5 5 5-5H5z"/></svg>');
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 24px;
  }
  
  .button-container {
    z-index: 2;
    margin-top: 10px;

    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    width: 18%;
    height: 27px;
    overflow: hidden;
    background: rgb(174, 173, 173);
  }
  
  .button-container button {
    flex: 1;
    padding: 10px;
    border: none;
    color: white;
  }
  
  .button-container .active {
    background-color: rgb(153, 204, 255);
  }
  
  .task-selector {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 0;
    width: max-content;
    height: 70px;
  }

  .time-selector {
    display: flex;
    align-items: center;
    padding: 10px;
    float: right;
  }
  
  .label-container .arrow-button {
    border: none;
    background-color: transparent;
  }

  .arrow-button {
    border: none;
    background-color: transparent;
  }
  
  .label-task {
    margin-top: -2px;
    border-radius: 5px;
    border: 1px solid black;
    /* padding: 8px; */
    width: auto;
    height: auto;
    padding: 5px;
    text-align: center;
    background: rgb(233, 233, 233);
    
  }

  .label-week {
    margin-top: -1px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px;
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
    text-align: center;
    background: rgb(233, 233, 233);
  }
  .headerTitle{
    position: relative;
  }
  
  .flex-container {
    display: flex;
    margin-top: 20px;
  }
  
  .graph-container {
    flex: 0 0 43%;
    margin-right: 20px;
    height: 600px;
    border-radius: 10px;
    background: white;
    padding: 40px;
  }
  
  .task-info-container {
    flex: 0 0 43%;
    margin-left: 10px;
    margin-right: 10px;
    height: 600px;
    border-radius: 10px;
    background: white;
    padding: 40px;
  }

  .selections-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }

  .settings-button-container {
    position: absolute;
    top: 10px; /* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
  }


.AIButton{
   width: 50px;
   margin-left: 10px;
   background-color: rgba(104, 104, 104, 0.2);
   border: 0;
   border-bottom: 0.5px solid black;
}
